In [1]:
import matplotlib.pyplot as plt
import pandas as pd

import tensorflow as tf
from tensorflow.keras import layers, models

In [2]:
data = pd.read_csv('/content/추천 학습 모델 최종 dataset(21.09.07).csv')

In [3]:
# 데이터 복사
tmp = data.copy()

In [4]:
tmp.head()

   Index    1    2    3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23  von
0    1.0  4.0  2.0  2.0  ...     0.000005     0.000005        0.999  0.0
1    2.0  4.0  2.0  2.0  ...     0.000066     0.000139        0.997  0.0
2    3.0  4.0  2.0  2.0  ...     0.000052     0.000139        0.998  0.0
3    4.0  4.0  2.0  2.0  ...     0.000280     0.000482        0.992  0.0
4    5.0  4.0  2.0  2.0  ...     0.003610     0.046400        0.949  0.0

[5 rows x 25 columns]

In [5]:
# 데이터 전처리
feeling = tmp['feeling'].unique()
place = data['place'].unique()
von = data['von'].unique()

In [6]:
print(feeling)
print(place)
print(von)

['happy' 'angry' 'sad' 'neutral' nan]
[' 성산일출봉' ' 사려니숲길' ' 협재 해수욕장' ' 월정리 해변' ' 함덕 해수욕장' ' 산굼부리' ' 섭지코지'
 ' 한라산국립공원' ' 비자림' ' 천지연폭포' ' 용머리해안' ' 용두암' ' 마라도' ' 우도' ' 가파도' ' 제주돌문화공원'
 ' 삼성혈' ' 추사관' ' 제주목관아' ' 선운정사' ' 김영갑갤러리두모악' ' 이중섭거리' ' 관덕정' ' 너븐숭이4.3기념관'
 ' 제주민속촌' ' 항파두리항몽유적지' ' 성읍마을' ' 제주세계자연유산센터' ' 제주민속자연사박물관' ' 제주4.3평화공원'
 ' 아침미소목장' ' 제주레일바이크' ' 서귀포잠수함' ' 아날로그감귤밭' ' 피시픽리솜 요트투어' ' 제주레포츠랜드'
 ' 월정리 카약 체험' ' 제주김녕미로공원' ' 에코랜드' ' 테디베어박물관' ' 아쿠아플라넷' ' 수월봉 지질트레일'
 ' 오설록티뮤지엄' ' 제주유리의성' ' 제주더마파크' nan]
[ 0.  1. nan]

In [7]:
print(len(place))

46

In [8]:
print(tmp.isnull())

      Index      1      2      3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23    von
0     False  False  False  False  ...        False        False        False  False
1     False  False  False  False  ...        False        False        False  False
2     False  False  False  False  ...        False        False        False  False
3     False  False  False  False  ...        False        False        False  False
4     False  False  False  False  ...        False        False        False  False
...     ...    ...    ...    ...  ...          ...          ...          ...    ...
4136  False  False  False  False  ...        False        False        False  False
4137  False  False  False  False  ...        False        False        False  False
4138  False  False  False  False  ...        False        False        False  False
4139  False  False  False  False  ...        False        False        False  False
4140   True   True   True   True  ...         True         True         True   True

[4141 rows x 25 columns]

In [9]:
tmp=tmp.dropna()

In [10]:
print(tmp.isnull())

      Index      1      2      3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23    von
0     False  False  False  False  ...        False        False        False  False
1     False  False  False  False  ...        False        False        False  False
2     False  False  False  False  ...        False        False        False  False
3     False  False  False  False  ...        False        False        False  False
4     False  False  False  False  ...        False        False        False  False
...     ...    ...    ...    ...  ...          ...          ...          ...    ...
4135  False  False  False  False  ...        False        False        False  False
4136  False  False  False  False  ...        False        False        False  False
4137  False  False  False  False  ...        False        False        False  False
4138  False  False  False  False  ...        False        False        False  False
4139  False  False  False  False  ...        False        False        False  False

[4140 rows x 25 columns]

In [13]:
feeling = tmp['feeling'].unique()
place = tmp['place'].unique()
von = tmp['von'].unique()

In [14]:
print(feeling)
print(place)
print(von)

['happy' 'angry' 'sad' 'neutral']
[' 성산일출봉' ' 사려니숲길' ' 협재 해수욕장' ' 월정리 해변' ' 함덕 해수욕장' ' 산굼부리' ' 섭지코지'
 ' 한라산국립공원' ' 비자림' ' 천지연폭포' ' 용머리해안' ' 용두암' ' 마라도' ' 우도' ' 가파도' ' 제주돌문화공원'
 ' 삼성혈' ' 추사관' ' 제주목관아' ' 선운정사' ' 김영갑갤러리두모악' ' 이중섭거리' ' 관덕정' ' 너븐숭이4.3기념관'
 ' 제주민속촌' ' 항파두리항몽유적지' ' 성읍마을' ' 제주세계자연유산센터' ' 제주민속자연사박물관' ' 제주4.3평화공원'
 ' 아침미소목장' ' 제주레일바이크' ' 서귀포잠수함' ' 아날로그감귤밭' ' 피시픽리솜 요트투어' ' 제주레포츠랜드'
 ' 월정리 카약 체험' ' 제주김녕미로공원' ' 에코랜드' ' 테디베어박물관' ' 아쿠아플라넷' ' 수월봉 지질트레일'
 ' 오설록티뮤지엄' ' 제주유리의성' ' 제주더마파크']
[0. 1.]

In [15]:
print(tmp.isnull())

      Index      1      2      3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23    von
0     False  False  False  False  ...        False        False        False  False
1     False  False  False  False  ...        False        False        False  False
2     False  False  False  False  ...        False        False        False  False
3     False  False  False  False  ...        False        False        False  False
4     False  False  False  False  ...        False        False        False  False
...     ...    ...    ...    ...  ...          ...          ...          ...    ...
4135  False  False  False  False  ...        False        False        False  False
4136  False  False  False  False  ...        False        False        False  False
4137  False  False  False  False  ...        False        False        False  False
4138  False  False  False  False  ...        False        False        False  False
4139  False  False  False  False  ...        False        False        False  False

[4140 rows x 25 columns]

In [16]:
tmp=tmp.drop(columns=['place'])

In [17]:
tmp.head()

   Index    1    2    3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23  von
0    1.0  4.0  2.0  2.0  ...     0.000005     0.000005        0.999  0.0
1    2.0  4.0  2.0  2.0  ...     0.000066     0.000139        0.997  0.0
2    3.0  4.0  2.0  2.0  ...     0.000052     0.000139        0.998  0.0
3    4.0  4.0  2.0  2.0  ...     0.000280     0.000482        0.992  0.0
4    5.0  4.0  2.0  2.0  ...     0.003610     0.046400        0.949  0.0

[5 rows x 24 columns]

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
x=encoder.fit_transform(tmp['feeling'])
tmp['feeling']=x

In [19]:
tmp.head()

   Index    1    2    3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23  von
0    1.0  4.0  2.0  2.0  ...     0.000005     0.000005        0.999  0.0
1    2.0  4.0  2.0  2.0  ...     0.000066     0.000139        0.997  0.0
2    3.0  4.0  2.0  2.0  ...     0.000052     0.000139        0.998  0.0
3    4.0  4.0  2.0  2.0  ...     0.000280     0.000482        0.992  0.0
4    5.0  4.0  2.0  2.0  ...     0.003610     0.046400        0.949  0.0

[5 rows x 24 columns]

In [20]:
tmp=tmp.drop(columns=['Index'])

In [21]:
y_label=tmp['von']

In [22]:
tmp=tmp.drop(columns=['von'])

In [23]:
tmp.head()

     1    2    3    4    5  ...   18  feeling  Unnamed: 21  Unnamed: 22  Unnamed: 23
0  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.000005     0.000005        0.999
1  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.000066     0.000139        0.997
2  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.000052     0.000139        0.998
3  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.000280     0.000482        0.992
4  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.003610     0.046400        0.949

[5 rows x 22 columns]

In [24]:
from sklearn.preprocessing import RobustScaler
rs=RobustScaler()
tmp_rs=rs.fit_transform(tmp)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(tmp_rs, y_label, test_size=0.2, random_state=42)

In [ ]:
X_train_db=pd.DataFrame(X_train)

In [26]:
model = models.Sequential()
model.add(layers.Dense(units=512, activation='relu', input_shape=(4140,22)))
model.add(layers.Dense(units=128, activation='relu'))
model.add(layers.Dense(units=32, activation='relu'))
model.add(layers.Dense(units=16, activation='relu'))
model.add(layers.Dense(units=8, activation='relu'))
model.add(layers.Dense(units=1, activation='sigmoid'))

In [27]:
model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

In [ ]:
tmp_rs

array([[ 1.        ,  0.        ,  0.        , ...,  0.49440056,
        -0.54940272,  0.77043735],
       [ 1.        ,  0.        ,  0.        , ...,  2.59112805,
        -1.73200834,  0.42800218],
       [ 1.        ,  0.        ,  0.        , ..., -0.17789282,
        -0.17563088,  0.89062588],
       ...,
       [ 1.        ,  0.        , -0.5       , ...,  3.55792121,
        -2.56661589,  0.82508967],
       [ 1.        ,  0.        , -0.5       , ..., -0.06809657,
         0.21737313,  0.        ],
       [ 1.        ,  0.        , -0.5       , ..., -0.05562949,
        -0.1742423 ,  0.73570409]])

In [28]:
model.fit(x=tmp_rs, y=y_label, batch_size=512, epochs=30, validation_split=0.2)

Epoch 1/30
WARNING:tensorflow:Model was constructed with shape (None, 4140, 22) for input KerasTensor(type_spec=TensorSpec(shape=(None, 4140, 22), dtype=tf.float32, name='dense_input'), name='dense_input', description="created by layer 'dense_input'"), but it was called on an input with incompatible shape (None, 22).
WARNING:tensorflow:Model was constructed with shape (None, 4140, 22) for input KerasTensor(type_spec=TensorSpec(shape=(None, 4140, 22), dtype=tf.float32, name='dense_input'), name='dense_input', description="created by layer 'dense_input'"), but it was called on an input with incompatible shape (None, 22).
7/7 [==============================] - ETA: 0s - loss: 0.6418 - accuracy: 0.6283WARNING:tensorflow:Model was constructed with shape (None, 4140, 22) for input KerasTensor(type_spec=TensorSpec(shape=(None, 4140, 22), dtype=tf.float32, name='dense_input'), name='dense_input', description="created by layer 'dense_input'"), but it was called on an input with incompatible shape (None, 22).
7/7 [==============================] - 2s 43ms/step - loss: 0.6418 - accuracy: 0.6283 - val_loss: 0.8708 - val_accuracy: 0.5229
Epoch 2/30
7/7 [==============================] - 0s 13ms/step - loss: 0.5663 - accuracy: 0.7129 - val_loss: 1.1305 - val_accuracy: 0.4867
Epoch 3/30
7/7 [==============================] - 0s 16ms/step - loss: 0.5345 - accuracy: 0.7415 - val_loss: 0.8208 - val_accuracy: 0.5556
Epoch 4/30
7/7 [==============================] - 0s 13ms/step - loss: 0.5185 - accuracy: 0.7443 - val_loss: 1.0493 - val_accuracy: 0.4783
Epoch 5/30
7/7 [==============================] - 0s 14ms/step - loss: 0.5044 - accuracy: 0.7485 - val_loss: 1.1226 - val_accuracy: 0.4783
Epoch 6/30
7/7 [==============================] - 0s 14ms/step - loss: 0.4724 - accuracy: 0.7732 - val_loss: 0.9218 - val_accuracy: 0.5556
Epoch 7/30
7/7 [==============================] - 0s 13ms/step - loss: 0.4897 - accuracy: 0.7612 - val_loss: 1.3258 - val_accuracy: 0.4783
Epoch 8/30
7/7 [==============================] - 0s 13ms/step - loss: 0.4614 - accuracy: 0.7823 - val_loss: 1.2575 - val_accuracy: 0.4746
Epoch 9/30
7/7 [==============================] - 0s 13ms/step - loss: 0.4415 - accuracy: 0.7944 - val_loss: 0.8449 - val_accuracy: 0.5604
Epoch 10/30
7/7 [==============================] - 0s 16ms/step - loss: 0.4412 - accuracy: 0.7908 - val_loss: 1.4632 - val_accuracy: 0.4928
Epoch 11/30
7/7 [==============================] - 0s 15ms/step - loss: 0.4580 - accuracy: 0.7823 - val_loss: 1.1947 - val_accuracy: 0.4891
Epoch 12/30
7/7 [==============================] - 0s 15ms/step - loss: 0.4178 - accuracy: 0.8116 - val_loss: 1.1705 - val_accuracy: 0.4867
Epoch 13/30
7/7 [==============================] - 0s 14ms/step - loss: 0.4141 - accuracy: 0.8134 - val_loss: 1.3257 - val_accuracy: 0.4565
Epoch 14/30
7/7 [==============================] - 0s 14ms/step - loss: 0.4274 - accuracy: 0.7977 - val_loss: 1.3379 - val_accuracy: 0.4976
Epoch 15/30
7/7 [==============================] - 0s 17ms/step - loss: 0.3906 - accuracy: 0.8210 - val_loss: 1.4998 - val_accuracy: 0.4710
Epoch 16/30
7/7 [==============================] - 0s 13ms/step - loss: 0.4158 - accuracy: 0.8077 - val_loss: 1.1985 - val_accuracy: 0.4952
Epoch 17/30
7/7 [==============================] - 0s 15ms/step - loss: 0.3848 - accuracy: 0.8243 - val_loss: 1.4285 - val_accuracy: 0.4831
Epoch 18/30
7/7 [==============================] - 0s 13ms/step - loss: 0.4066 - accuracy: 0.8071 - val_loss: 1.4074 - val_accuracy: 0.4855
Epoch 19/30
7/7 [==============================] - 0s 14ms/step - loss: 0.3757 - accuracy: 0.8273 - val_loss: 1.1292 - val_accuracy: 0.5338
Epoch 20/30
7/7 [==============================] - 0s 14ms/step - loss: 0.3848 - accuracy: 0.8197 - val_loss: 1.8966 - val_accuracy: 0.4626
Epoch 21/30
7/7 [==============================] - 0s 15ms/step - loss: 0.3989 - accuracy: 0.8083 - val_loss: 1.7259 - val_accuracy: 0.4867
Epoch 22/30
7/7 [==============================] - 0s 13ms/step - loss: 0.3828 - accuracy: 0.8207 - val_loss: 2.0423 - val_accuracy: 0.4819
Epoch 23/30
7/7 [==============================] - 0s 15ms/step - loss: 0.3800 - accuracy: 0.8210 - val_loss: 1.5182 - val_accuracy: 0.4903
Epoch 24/30
7/7 [==============================] - 0s 13ms/step - loss: 0.3655 - accuracy: 0.8276 - val_loss: 2.0169 - val_accuracy: 0.5217
Epoch 25/30
7/7 [==============================] - 0s 15ms/step - loss: 0.3822 - accuracy: 0.8194 - val_loss: 1.2504 - val_accuracy: 0.5278
Epoch 26/30
7/7 [==============================] - 0s 13ms/step - loss: 0.3890 - accuracy: 0.8149 - val_loss: 1.4222 - val_accuracy: 0.5085
Epoch 27/30
7/7 [==============================] - 0s 13ms/step - loss: 0.3641 - accuracy: 0.8282 - val_loss: 2.1803 - val_accuracy: 0.4976
Epoch 28/30
7/7 [==============================] - 0s 14ms/step - loss: 0.3726 - accuracy: 0.8225 - val_loss: 1.6914 - val_accuracy: 0.4831
Epoch 29/30
7/7 [==============================] - 0s 13ms/step - loss: 0.3781 - accuracy: 0.8152 - val_loss: 2.0158 - val_accuracy: 0.4928
Epoch 30/30
7/7 [==============================] - 0s 14ms/step - loss: 0.3675 - accuracy: 0.8243 - val_loss: 1.5937 - val_accuracy: 0.4940

In [29]:
from keras.models import load_model

model.save('test_model_final.h5')

In [30]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 4140, 512)         11776
_________________________________________________________________
dense_1 (Dense)              (None, 4140, 128)         65664
_________________________________________________________________
dense_2 (Dense)              (None, 4140, 32)          4128
_________________________________________________________________
dense_3 (Dense)              (None, 4140, 16)          528
_________________________________________________________________
dense_4 (Dense)              (None, 4140, 8)           136
_________________________________________________________________
dense_5 (Dense)              (None, 4140, 1)           9
=================================================================
Total params: 82,241
Trainable params: 82,241
Non-trainable params: 0
_________________________________________________________________